@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Orbitron&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Orbitron&family=Patrick+Hand&family=Roboto:wght@100;300;400;500;700;900&display=swap");
$pencil-color: rgba(54, 54, 54, 0.8);
$primary-color: rgba(82, 82, 82, 1);
$primary-pattern: url("https://www.transparenttextures.com/patterns/asfalt-light.png");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    position: relative;
    overflow: hidden;

    .max-width {
        max-width: 1280px;
        margin: 0 auto;
    }

    header {
        .nav-wrapper {
            background: #111111;
            position: fixed;
            top: 0;
            color: #fff;
            width: 100%;
            height: 60px;
            filter: drop-shadow(0 -5px 10px rgb(170, 170, 170));

            .nav {
                width: 100%;
                height: 100%;

                display: flex;
                justify-content: left;
                align-items: center;

                .logo {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }

    main {
        .background {
            background: #222;
            height: 100vh;

            display: flex;
            justify-content: center;
            align-items: center;

            .tittle,
            .tittle::before {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }

            .tittle::before {
                content: "";
                background: linear-gradient(0deg, rgba(34, 34, 34, 0.5022727272727272) 0%, rgba(34, 34, 34, 1) 100%);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 30px;
                border-top: 1px solid rgba(153, 153, 153, 0.2);
                border-bottom: 1px dashed rgba(153, 153, 153, 1);
            }
            .tittle::after {
                content: "";
                background: linear-gradient(180deg, rgba(34, 34, 34, 0.5022727272727272) 0%, rgba(34, 34, 34, 1) 100%);
                position: absolute;
                top: 31px;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                height: 10px;
                box-shadow: 0 5px 10px rgba(14, 21, 37, 0.6);
            }

            .todo-list::before {
                content: "";
                // background-color: $primary-color;
                // background-image: $primary-pattern;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 48px;
                border-top: 1px solid rgba(153, 153, 153, 0.2);
                border-bottom: 1px solid rgba(153, 153, 153, 0.5);
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                box-shadow: 0 -5px 10px rgba(14, 21, 37, 0.5);
                z-index: 444;
            }

            .todo-list {
                background-color: $primary-color;
                background-image: $primary-pattern;
                position: relative;
                padding-bottom: 50px;
                border-radius: 8px;
                box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .tittle {
                    background-color: $primary-color;
                    background-image: $primary-pattern;
                    color: #fff;
                    line-height: 1.4;
                    width: 100%;
                    padding: 50px 18px 25px;

                    .project-name {
                        span {
                            font-size: 0.8em;
                            font-weight: 400;
                        }
                    }

                    .tittle-name {
                        h1 {
                            font-size: 2.4em;
                            font-weight: 700;
                        }
                        span {
                            font-size: 1em;
                            font-weight: 400;
                        }
                    }
                }

                .task-nav {
                    background-color: $primary-color;
                    background-image: $primary-pattern;
                    position: relative;
                    width: 100%;
                    padding: 18px 25px;
                    border-bottom: 1px solid #999;
                    box-shadow: 0 5px 10px rgba(14, 21, 37, 0.5);
                    z-index: 111;

                    .task-input {
                        position: relative;
                        height: 52px;

                        input {
                            font-size: 18px;
                            height: 100%;
                            width: 100%;
                            padding: 0 20px 0 53px;
                            border: 1px solid #999;
                            border-radius: 5px;

                            :focus {
                                outline: #3c87ff;
                                color: #3c87ff;
                            }
                        }

                        input::placeholder {
                            color: #bfbfbf;
                        }

                        i {
                            position: absolute;
                            top: 50%;
                            transform: translate(17px, -50%);
                        }
                    }
                }
                .controls {
                    color: #fff;
                    margin-top: 18px;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .fillters {
                        span {
                            color: rgba(153, 153, 153, 1);
                            font-size: 1em;
                            font-weight: 400;
                            padding: 4px 8px;
                            margin: 0 8px;
                            transition: 0.4s ease-in-out;
                            border: 1px dashed rgba(153, 153, 153, 1);
                            border-radius: 4px;
                            cursor: pointer;
                        }
                        span:first-child {
                            margin-left: 0;
                        }

                        span.active {
                            color: #fff;
                            box-shadow: 0 5px 10px rgba(14, 21, 37, 0.6);
                        }
                    }

                    .clear-btn {
                        background: transparent;
                        color: rgba(153, 153, 153, 1);
                        font-size: 1em;
                        padding: 4px 8px;
                        border: 1px dashed rgba(153, 153, 153, 1);
                        border-radius: 4px;
                        outline: none;
                        transition: 0.2s ease-in-out;
                        cursor: pointer;
                    }
                    .clear-btn:hover {
                        color: #fff;
                        box-shadow: 0 5px 10px rgba(14, 21, 37, 0.6);
                    }
                }

                .lists-container {
                    background: #fff;
                    width: 480px;
                    margin: 0 auto;

                    .controls,
                    li {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }

                    .task-box:before {
                        content: "";
                        background: rgba(214, 0, 0, 0.4);
                        position: absolute;
                        top: 0;
                        left: 90px;
                        width: 1px;
                        height: 100%;
                    }
                    .task-box:after {
                        content: "";
                        background: rgba(214, 0, 0, 0.4);
                        position: absolute;
                        top: 0;
                        left: 93px;
                        width: 1px;
                        height: 100%;
                    }

                    .task-box {
                        background: #fdff8a;
                        position: relative;
                        padding: 20px 25px;

                        .task {
                            height: 36px;
                            font-size: 1em;
                            border-bottom: 2px solid rgba(97, 221, 255, 0.4);
                            list-style: none;

                            display: flex;
                            align-items: center;

                            label {
                                display: flex;

                                input {
                                    margin: auto 60px auto 24px;
                                }

                                p {
                                    color: $pencil-color;
                                    font-family: "Handlee", cursive;
                                    font-size: 1.2em;
                                }

                                p.checked {
                                    text-decoration: line-through;
                                }
                            }

                            .settings {
                                color: $pencil-color;
                                position: relative;
                                margin-right: 24px;
                                cursor: pointer;

                                .task-menu {
                                    background: #fff;
                                    position: absolute;
                                    right: -5px;
                                    bottom: -55px;
                                    padding: 5px 0;
                                    border-radius: 5px;
                                    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);

                                    transition: transform 0.2s ease;
                                    transform: scale(0);
                                    transform-origin: top right;
                                    z-index: 333;

                                    li {
                                        height: 25px;
                                        font-size: 16px;
                                        padding: 17px 15px;
                                        margin-bottom: 2px;
                                        justify-content: flex-start;

                                        i {
                                            padding-right: 8px;
                                        }
                                    }
                                    li:last-child {
                                        margin-bottom: 0;
                                    }
                                    li:hover {
                                        background: #f5f5f5;
                                    }
                                }

                                .task-menu.show {
                                    transform: scale(1);
                                }
                            }
                        }
                        .task:last-child {
                            margin-bottom: 0;
                            padding-bottom: 0;
                            border-bottom: 0;
                        }

                        .no-task {
                            color: $pencil-color;
                            font-family: "Handlee", cursive;
                            font-size: 1.2em;
                            margin-left: 98px;
                        }
                    }
                }
                // .list-bottom {
                //     background: $primary-color;
                //     background-image: $primary-pattern;
                //     width: 100%;
                //     height: 50px;
                //     border-top: 1px solid rgba(153, 153, 153, 0.2);
                //     border-bottom: 1px solid rgba(153, 153, 153, 0.5);
                //     border-bottom-left-radius: 8px;
                //     border-bottom-right-radius: 8px;
                //     box-shadow: 0 -5px 10px rgba(14, 21, 37, 0.3);
                //     z-index: 111;
                // }
            }
        }
    }
}
